/* Mobile Devices */
.header-nav-item {
    width: 50%;
    text-align: center;
}

.header-nav-item:hover {
    background-color: #333333;
}

.header-nav-link {
    display: block;
    padding: 1.5em 0em;
}

.header-nav-link:hover {
    color: #B5CF4D; 
}

@media (min-width: 540px) {

    .header-nav-item {
        /* padding: 1em 0; */
    }
}