
.card {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  margin: 0.5em;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-title {
    color: #B5CF4D;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

.content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(10px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    width: 80%;
    color: #fff;
    text-align: center;
}

@media (min-width: 540px) {

    .card {
        width: 45%;
    }
}

