.movie-card {
  width: 100%;
  position: relative;
  margin: 0.5em;
}

.movie-card:hover {
  cursor: pointer;
}

.movie-card:hover .movie-title {
  color: #b5cf4d;
}

.movie-image-container {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.28),
    0 1px 1px 0 rgba(255, 255, 255, 0.22), inset 0 0 1px 1px rgba(0, 0, 0, 0.3),
    inset 0 0 50px 1px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease;
}

.movie-image-container:hover {
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.28),
    0 1px 1px 0 rgba(255, 255, 255, 0.22), inset 0 0 1px 1px rgba(0, 0, 0, 0.3),
    inset 0 0 50px 1px transparent;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}

.movie-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  backdrop-filter: blur(10px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-title {
  width: 80%;
  color: #fff;
  text-align: center;
}

@media (min-width: 540px) {
  .movie-card {
    width: 45%;
  }
}
