/* Desktop Devices  */

.container {
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 1em;
}

.btn-container {
   width: calc(100% - 1em);
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1em 0;
   margin: 0.5em 0;
   background-color: #1C1C1C;
}

.title-wrapper {
   width: calc(100% - 1em);
   margin-top: 2em;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

@media (min-width: 540px) {
   .container {
      width: 100%;
   }

   .btn-container,
   .title-wrapper {
      width: calc(90% + 1em);
   }
}

@media (min-width: 1024px) {

   .title-wrapper {
      margin-top: 4em;
   }
}
