/* Mobile Devices */
.header-item {
    width: 50%;
    text-align: center;
}

.header-item:hover {
    background-color: #B5CF4D;
}

.header-link {
    display: block;
    padding: 1.5em 0em;
}

.header-link:hover {
    color: #fff; 
}

.header-category-item {
    cursor: pointer;
    width: 70%;
    text-align: center;
    background-color: #333333;
    color: #F1F1F0;
    margin-top: 4px;
}

.header-category-item:hover{
    background-color: #B5CF4D;
}

.header-category-link {
    display: block;
    padding: 0.5em 0em;
}

.line-view-item {
    width: 100%;
}

.line-view-link {
    display: block;
    padding: 2em 1em;
}

.line-view-link:hover {
    color: #B5CF4D
}

@media (min-width: 540px) {

    .header-item:hover {
        background-color: #333333;
    }

    .header-link:hover,
    .header-category-link:hover {
        color: #B5CF4D; 
    }

    .header-category-item {
        width: 30%;
        margin: 4px;
    }

    .header-category-item:hover {
        background-color: #404447;
        color: #B5CF4D; 
    }

    .footer-category-item {
        width: 30%;
    }

    .footer-category-link:hover {
        color: #B5CF4D;
        border-bottom: 1px solid #fff;
    }
}

@media (min-width: 900px) {

    .header-category-item {
        width: 15%;
    }
}