.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    transition: opacity 3s;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


@media (min-width: 1024px) {

    .container {
       align-items: start;
       
    }

    .wrapper {
        width: 60%;
    }
}