/* Movie title for mobile devices */

.movie-container {
    width: 100%;
    margin-bottom: 3px;
    padding: 0.5em;
    text-align: left;
    background-color: #86C14E
}

.title {
    font-size: 20px;
    color: #fff; 
}

/* TV title for mobile devices */

.tv-container {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.5em;
    text-align: left;
    background-color: #3F4346
}



