/* Mobile Devices */

.container {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.link {
    color: #fff;
}

.title {
    color: #B5CF4D; 
}


@media (min-width: 900px) {

    .container {
        width: 30%;
        text-align: left;
    }

    .link {
        margin-left: 1.5em;
    }
}