/* Desktop Devices */

.header-nav {
    width: 100%;
    background-color: #404447;
}

.list-container-hidden {
    display: none;
}

.list-container-show {
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-button {
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    background-color: #404447;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.category-button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
    background-color: #333333;
    color: #F1F1F0;
    padding: 1.5em 0em;
    border: 1px solid #333333;
}

.category-button:hover {
    background-color: #B5CF4D;
}

.footer-icon {
    display: none;
}

@media (min-width: 430px) {

    .list-container-hidden {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .header-button {
        display: none;
    }
}

@media (min-width: 540px) {

    .list-container-hidden,
    .list-container-show,
    .category-button {
        font-size: 13px;
        background-color: #404447;
    }

    .category-button {
        padding: 1.5em 0em;
        border: 2px solid #404447;
    }

    .list-container-hidden,
    .list-container-show {
        flex-wrap: nowrap;
    }

    .category-button:hover {
        background-color: #333333;
        border: 2px solid #333333;
        color: #B5CF4D; 
    }
}

@media (min-width: 900px) {

    .header-nav {
        width: 70%;
    }
}




