
.container {
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 1em;
}

@media (min-width: 540px) {
   .container {
      width: 100%;
   }
}
