/* Movie card for mobile devices */

.movie-card {
  width: 100%;
  position: relative;
  margin: 0.5em;
}

.movie-card:hover {
  cursor: pointer;
}

@media (min-width: 540px) {
  .movie-card {
    width: 45%;
  }
}

/* TV card for mobile devices */

.tv-card {
  width: 90%;
  position: relative;
  overflow: hidden;
  margin: 0.5em 0;
}

@media(min-width: 540px) {
  
  .tv-card {
    width: 45%;
    margin: 0.5em 0.5em;
  }
}

/* TV card for Desktop devices */

@media (min-width: 1024px) {

  .tv-card {
    width: 45%;
  }
}
